body{

    background-color: rgb(55, 58, 59);
    font-family: roboto, sans-serif;
    padding-left: 30px;
    
}

.searchbox{
    padding-top: 30px;
    padding-left:50px;
    
    
}
.searchbox input{
   height: 25px;
   width: 20%;
   background-color:white;
   font-size: 12px;
   font-family: roboto, sans-serif;
   font-weight: 900;

    
}
.container{
    padding-top: 30px;
    padding-left: 50px;
    color: #f3f8f8;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.button{
    margin: 7px;
    color: black;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.missing {
    background-color: rgb(255, 17, 0);
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#showAddCardDiv{
    color: white;
    font-size: 25px;
    
}


.card img{
    width: 100%;
    height: 240px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.50);
}
.card {
    width: 300px;
    font-family:'Lato', sans-serif;
    border: 1px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50);  
}

.card button:hover {
    background-color: rgb(55, 235, 55);
}

.card h1{
    padding-left: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 0.9px;
    font-size: 26px;
    margin-bottom: 1px;
    color: black;
    
}
.card p{

    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 30px;
    color: black;
    padding-right: 15px
}
.forecast{
    font-weight: bold;
    font-size: 16px;
}
.card button{
    margin-left: 15px;
    font-family: 'Lato', sans-serif;
    border: none;
    border-radius: 11px;
    height: 25px;
    padding-top: px;
    text-transform: uppercase;
    background-color: #34779e;
    color: snow;
    
}
.card svg{
    padding-left: 15px;
    width: 30px;
    height: 30px;
}

/*:focus {outline:none !important}



// hover status
        &:hover {
        cursor: pointer; }
      }